notebook
ipython>=6
nbformat>=4
pre-commit==2.20.0
nbconvert>=5
cython==0.29.32
cmake==3.24.1
nbqa==1.3.1
pylint==2.14.3
scour==0.38.2
qiskit==0.37.2
qiskit-nature==0.5.2
qiskit-machine-learning==0.4.0
qiskit-finance==0.3.2
scikit-learn==1.0.1
tensorflow==2.9.1
matplotlib==3.5.2
pyscf==2.0.1
pylatexenc==2.10
ipywidgets==8.0.1
qiskit-machine-learning[sparse]
qiskit-experiments==0.4.0
git+https://github.com/qiskit-community/qiskit-textbook.git#subdirectory=qiskit-textbook-src
git+https://github.com/anedumla/quantum_linear_solvers
git+https://github.com/NCCR-SPIN/topological_codes.git
