notebook==6.5.4
ipython==8.12.0
nbformat==5.8.0
pre-commit==3.2.2
nbconvert==7.3.1
cython
cmake==3.26.3
nbqa==1.7.0
pylint==2.17.2
scour==0.38.2
qutip==4.7.1
qiskit==0.42.1
qiskit-ibm-runtime==0.9.3
qiskit-nature==0.6.0
qiskit-machine-learning==0.6.0
qiskit-finance==0.3.4
scikit-learn==1.2.2
tensorflow==2.12.0
matplotlib==3.7.1
pyscf==2.2.1
pylatexenc==2.10
ipywidgets==8.0.6
qiskit-machine-learning[sparse]
qiskit-experiments==0.5.1
tweedledum==1.1.1
git+https://github.com/qiskit-community/qiskit-textbook.git#subdirectory=qiskit-textbook-src
git+https://github.com/anedumla/quantum_linear_solvers
git+https://github.com/NCCR-SPIN/topological_codes.git
