cmake==3.26.3
cython
git+https://github.com/NCCR-SPIN/topological_codes.git
git+https://github.com/anedumla/quantum_linear_solvers
git+https://github.com/qiskit-community/qiskit-textbook.git#subdirectory=qiskit-textbook-src
ipython==8.12.0
ipywidgets==8.0.6
matplotlib==3.7.1
nbconvert==7.3.1
nbformat==5.8.0
nbqa==1.7.0
notebook==6.5.4
pre-commit==3.2.2
pylatexenc==2.10
pylint==2.17.2
pyscf==2.2.1
qiskit-experiments==0.5.1
qiskit-finance==0.3.4
qiskit-ibm-provider==0.5.2
qiskit-ibm-runtime==0.9.3
qiskit-machine-learning==0.6.0
qiskit-machine-learning[sparse]
qiskit-nature==0.6.0
qiskit==0.42.1
qutip==4.7.1
scikit-learn==1.2.2
scour==0.38.2
tensorflow==2.12.0
tweedledum==1.1.1
